.parentPane {
    -fx-background-color: #181818;
}

.userName{
   -fx-text-fill: linear-gradient(to right, #f78361, #f54b64);
   -fx-font-weight: 900;
   -fx-font-size: 25;
}

.welcomeText{
     -fx-font-weight: 900;
     -fx-font-size: 25;
     -fx-text-fill: gray;
}

.plans{
    -fx-background-color: rgba(247, 131, 97, 0.15);
    -fx-border-width: 2;
    -fx-border-color: gray;
    -fx-border-radius: 20 20 0 0;
    -fx-background-radius: 20 20 0 0;
}

.cardLabel{
    -fx-font-size: 40;
    -fx-font-weight: 900;
    -fx-text-fill: rgba(255,255,255,0.7);
}

.planText{
    -fx-fill: rgba(255,255,255,0);
    -fx-font-weight: 500;
}

.planHeading{
    -fx-font-weight: 700;
    -fx-text-fill: rgba(255,255,255,0.7);
    -fx-font-size: 14;
}

.dashboard{
    -fx-background-color: rgba(245, 73, 100, 1);
}

.dashboard .heading{
    -fx-background-color: #fcebde;
    -fx-background-radius: 0 0 50 0;
    -fx-border-radius: 0 0 50 0;
}

.dashboard .heading .labelVal{
   -fx-background-color: linear-gradient(to right, #f78361, #f54b64);
   -fx-background-radius: 5;
   -fx-padding: 2 10;
   -fx-text-fill: rgba(255,255,255);
   -fx-font-weight: 700;
   -fx-font-size: 15;
}

.dashboard .heading .infoLabel{
    -fx-font-weight: 700;
    -fx-font-size: 15;
}

.dashboard .heading TextField{
    -fx-background-radius: 0;
    -fx-background-color: #fcebde;
    -fx-border-color: #f54b64;
    -fx-prompt-text-fill: gray;
    -fx-text-fill: #000;
    -fx-border-radius: 5;
    -fx-background-radius: 5;
    -fx-padding: 2 5;
}

.mainBtns{
    -fx-text-fill: linear-gradient(to right, #f78361, #f54b64);
    -fx-background-color: transparent;
    -fx-border-color: linear-gradient(to right, #f78361, #f54b64);
    -fx-background-radius: 0;
}

.mainBtns:hover{
    -fx-text-fill: white;
    -fx-background-color: linear-gradient(to right, #f78361, #f54b64);
    -fx-cursor: hand;
}

.cardForm{
    -fx-background-color: #fcebde;
    -fx-background-radius: 5;
}

.cardField{
    -fx-background-radius: 0;
    -fx-background-color: transparent;
    -fx-border-radius: 5;
    -fx-border-color: linear-gradient(to right, #f78361, #f54b64);
    -fx-prompt-text-fill: gray;
    -fx-text-fill: #000;
}

.cardFieldLabel{
    -fx-font-weight: 700;
}

.formCloseBtn{
    -fx-font-weight: 700;
    -fx-background-color: transparent;
    -fx-border-width: 0.5;
    -fx-padding: 2 5;
    -fx-border-color: gray;
    -fx-text-fill: gray;
}

.formCloseBtn:hover{
    -fx-background-color: gray;
    -fx-text-fill: #fff;
    -fx-cursor: hand;
}



.buyCardLabel{
    -fx-font-weight: 900;
    -fx-font-size: 18;
}

#on{
    -fx-text-fill: white;
    -fx-background-color: linear-gradient(to right, #f78361, #f54b64);
}

#activated{
    -fx-background-color: rgba(245, 73, 100, 0.9);
}

#activated .planText{
    -fx-fill: rgba(255,255,255,0.8);
}

